body {
  font-family: sans-serif;
  color: #1c1c1c;
}

h1, h2, h3 {
  font-family: 'AdineKirnbergScript', 'Tangerine', sans-serif;
  color: #000000;
  text-align: center;
}

p {
  line-height: 1,5;
}

@font-face {
  font-family: AdineKirnbergScript;
  src: url(/fonts/AdineKirnberg-Alternate.ttf);
}

/*Navegação*/

#logo {
  font-family: 'AdineKirnbergScript', 'Tangerine', sans-serif;
  font-weight: 500;
  font-size: 60px;
  color: #FFFFFF;
  align-self: flex-start;
  text-align: center;
  text-decoration: none;
}

#logo {
  color: #FFFFFF;
}

nav {
  background-color: #272727;
  border-radius: 3px;
}

.navBar a:not(:first-child) {
  display: none;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navBar a.icon {
  float: right;
  display: block;
}

.navBar.responsive a {
  color: #4fc3f7;
}

.navBar.responsive a.icon {
  position: absolute;
  right: 0;
  top: 0;
}
.navBar.responsive a {
  color: #4fc3f7;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Sobre*/

#sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  background-color: #191970;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #FFFFFF;
  text-align: justify;
  padding: 20px;
  width: auto;
}

#sobre h1 {
  color: #FFFFFF;
  font-family: 'AdineKirnbergScript', 'Tangerine', sans-serif;
  font-weight: 500;
  font-size: 50px;
}

#sobre p {
  margin-bottom: 2em;
  line-height: 1,5;
}

/*Agenda*/

#agenda {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#agenda h2 {
  font-size: 40px;
}

#agenda p {
  text-align: center;
}

#agenda a {
  text-decoration: none;
  color: #1c1c1c;
}

#agenda a {
  color: #4fc3f7;
}

/*Notícias*/

#noticias {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#noticias h2 {
  font-size: 40px;
}

#noticias ul {
  list-style: none;
  padding: 0;
  text-align: center;
  width: 100%;
}

#noticias ul li a {
  text-decoration: none;
  color: #1c1c1c;
}

#noticias ul li a {
  color: #4fc3f7;
}

/*Discografia*/

#discografia {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}

#discografia h2 {
  font-size: 40px;
}

/*Fotos*/

#fotos {
  padding: 20px;
}

#fotos h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
}

#fotos p {
  text-align: center;
}

#fotos p a {
  text-decoration: none;
  color: #1c1c1c;
}

#fotos p a {
  text-decoration: none;
  color: #4fc3f7;
}

#fotos div ul {
  padding: 0;
}

#fotos ul div .item {
  margin: 1px;
  border-radius: 5px;
}

/*Vídeos*/

#videos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

#videos h2 {
  font-size: 40px;
}

#videos div ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

#videos div ul li a {
  color: #4fc3f7;
  text-decoration: none;
}

.icon-play {
  width: 10px;
  padding-right: 3px;
}

/*Contato*/

#contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

#contato h2 {
  font-size: 40px;
}

#contato div p a {
  color: #1c1c1c;
  text-decoration: none;
}

#contato div p a {
  color: #4fc3f7;
}

/*Loja*/

#loja {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

#loja h2 {
  margin-bottom: 0;
  font-size: 40px;
}

#loja div {
  list-style: none;
  padding: 0;
}

#loja p {
  text-align: center;
}

#loja p a {
  color: #1c1c1c;
  text-decoration: none;
}

#loja p a {
  color: #4fc3f7;
}

#loja div a img {
  width: 40px;
  margin: 1px;
  border-radius: 5px;
}

#loja div .items {
  width: 100%;
}

#loja .items img {
  width: 100%;
  border: solid 1px black ;
  border-radius: 5px;
}

.image-whatapp {
  width: 20px;
}

/*Redes Sociais*/

#social {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

#social div {
  list-style: none;
  padding: 0;
}

#social div a img {
  width: 40px;
  margin: 1px;
  border-radius: 5px;
}

#social div a img:hover {
  transform: translateY(-5px);
  transition: .4s ease-in;
}

.social-title {
  font-size: 40px;
}

/*Footer*/

footer {
  text-align: center;
  padding: 20px;
  background-color: #272727;
  color: #FFFFFF;
  border-radius: 3px;
}

/*Responsividade*/

@media screen and (min-width: 768px) {
  p, a {
    font-size: 20px;
    line-height: 1,5;
  }

  /*Nav*/

  .navBar div {
    flex-direction: row;
    width: 100%;
  }

  .navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .navBar div {
    align-items: center;
  }

  .navBar a:not(:first-child) {
    display: inline-flex;
    align-items: center;
  }

  .navBar a:hover {
  color: #4fc3f7;
  transition: .5s ease-in;
 }

  .navBar a.icon {
    display: none;
  }

  /*Contato*/

  #contato {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 300px;
    margin: 0 auto;
  }

  #contato h2, #contato p {
    width: 100%;
  }

  #fotos h2, #fotos p {
    width: 100%;
  }

  /*Loja*/

  #loja .items{
    padding: 10px 30px 10px 30px;
  }

  #loja h2, #loja .items img{
    width: 300px;
    padding: 10px 30px 10px 30px;
  }

  /*Redes sociais*/

  #social {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 500px;
    margin: 0 auto;
  }
}
